<h1>Add user form</h1>
<form (submit)="addUserClick()">
  <input
    type="text"
    [(ngModel)]="firstname"
    name="first name"
    placeholder="Enter your first name"
    class="form-control"
  /><br />
  <input
    type="text"
    [(ngModel)]="lastname"
    name="last name"
    placeholder="Enter your last name"
    class="form-control"
  /><br />
  <input
    type="text"
    [(ngModel)]="email"
    name="email"
    placeholder="Enter your email"
    class="form-control"
  /><br />
  <input
    type="number"
    [(ngModel)]="age"
    name="age"
    placeholder="Enter your age"
    class="form-control"
  /><br />
  <button class="btn btn-success" type="submit">Add user</button>
</form>
